* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}


header {
    width: 100%;
    height: 600px;
    background: #ffffff;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.459), hsla(143, 45%, 52%, 0.664)), url(../img/busqueda.jpg);
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.459), hsla(143, 45%, 52%, 0.664)), url(../img/busqueda.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:rgb(0, 0, 0);
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

main 


img {
    margin-left: 60px;
}

.boton{
    font-size: 40px;
    margin-left: 60px;
    border: 1px solid #2a732e;
    padding: 10px; 
    background-color: #2a732e; 
    color: #ffffff;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    }

@media screen and (max-width:500px){


    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

   
}